body {font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
text-align: center;
}





header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 1200px;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;

}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
    height: 50px;
}

.content {
    display: flex;
    width: 1200px;
    margin: 0 auto 78px auto;
    padding-top: 0;
}

div {
    display: block;
}

a {
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  }

  nav span {
    display: inline-block;
    padding: 20px 10px;
}


a:-webkit-any-link {
      cursor: pointer;
    text-decoration: underline;
}

.mission {
  background-image: url(img-mission-background.jpg);
  height: 700px;
  position: relative;


}

.missiontext {
    position: absolute;
    width: auto;
    align-items: middle;
    left: 0;
    top: 50%;
    width: 100%;
    background-color: black;

}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  }

.flex-container > div {

  width: 300px;
  height: 260px;
  margin: 15px;
  text-align: center;
}


.locations {
  align-items: center;
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 1200px;
  height: 500px;
  background-image: url("img-locations-background.jpg");

}

.locations-top {
    position: relative;
  }



.locations > div {
  position: relative;
  top: 245px;
  background: black;
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 15px;
}
